---
- name: Deploy Kibana
  hosts: kibana
  become: true

  tasks:
    # Установка Docker
    - name: Install Docker and SDK
      ansible.builtin.apt:
        name: [docker.io, python3-docker]
        state: present
        update_cache: yes

    # Запуск контейнера Kibana
    - name: Run Kibana
      community.docker.docker_container:
        name: kibana
        image: kibana:8.19.11
        state: started
        recreate: yes
        published_ports:
          - "5601:5601"
        env:
          XPACK_SECURITY_ENABLED: "false"
          XPACK_MONITORING_ENABLED: "false"
          XPACK_SECURITY_ENCRYPTIONKEY: "kibana_key_12345678901234567890123456789012"
          XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: "kibana_key_12345678901234567890123456789012"
          XPACK_REPORTING_ENCRYPTIONKEY: "kibana_key_12345678901234567890123456789012"
          NODE_OPTIONS: "--max-old-space-size=2048"
          SERVER_HOST: "0.0.0.0"
          ELASTICSEARCH_HOSTS: "http://{{ hostvars['elasticsearch_server']['ansible_host'] }}:9200"

    # Ожидание запуска Kibana
    - name: Wait for Kibana to be ready
      uri:
        url: "http://localhost:5601/api/status"
        method: GET
        status_code: 200
      register: _result
      until: _result.status == 200
      retries: 30
      delay: 10

    # Добавление паттерна индексов для логов nginx
    - name: Create Filebeat Index Pattern (Data View)
      uri:
        url: "http://localhost:5601/api/data_views/data_view"
        method: POST
        body_format: json
        headers:
          kbn-xsrf: "true"
        body:
          data_view:
            title: "filebeat-*"
            name: "Nginx Logs (Filebeat)"
            timeFieldName: "@timestamp"
            id: "filebeat-logs"
        status_code: [200, 409]