---
- name: Deploy Kibana
  hosts: kibana
  become: true

  tasks:
    # Установка Docker
    - name: Install Docker and SDK
      ansible.builtin.apt:
        name: [docker.io, python3-docker]
        state: present
        update_cache: yes

    # Запуск контейнера Kibana
    - name: Run Kibana
      community.docker.docker_container:
        name: kibana
        image: kibana:8.19.11
        state: started
        recreate: yes
        published_ports:
          - "5601:5601"
        env:
          XPACK_SECURITY_ENABLED: "false"
          XPACK_MONITORING_ENABLED: "false"
          XPACK_SECURITY_ENCRYPTIONKEY: "kibana_key_12345678901234567890123456789012"
          XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: "kibana_key_12345678901234567890123456789012"
          XPACK_REPORTING_ENCRYPTIONKEY: "kibana_key_12345678901234567890123456789012"
          NODE_OPTIONS: "--max-old-space-size=2048"
          SERVER_HOST: "0.0.0.0"
          ELASTICSEARCH_HOSTS: "http://{{ hostvars['elasticsearch_server']['ansible_host'] }}:9200"